files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDMzCCAhsCFGGox4zCH2xnvGfkr+CszggVC9/0MA0GCSqGSIb3DQEBCwUAMFYx
      CzAJBgNVBAYTAlVTMRIwEAYDVQQIDAlXaXNjb25zaW4xEDAOBgNVBAcMB01hZGlz
      b24xITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yMTExMDEw
      MDEyMjhaFw0yMjExMDEwMDEyMjhaMFYxCzAJBgNVBAYTAlVTMRIwEAYDVQQIDAlX
      aXNjb25zaW4xEDAOBgNVBAcMB01hZGlzb24xITAfBgNVBAoMGEludGVybmV0IFdp
      ZGdpdHMgUHR5IEx0ZDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALns
      uC3ynYOSNezixFTbpjXOhVjX0FS27v4VJ7v2mFwayG1N5PBycYhrdvx/YT2TNtiC
      8IPQ5UQEPpG2NUm4+4OEov8uczflAmzwSn24zcFPdwMvSpWaF9JOG+c0hsELfwNZ
      ARvQkyomWLdxq5tiitJGCL6gVG9tkXKSgi/SgCN0pg+eBCBLItDzb8eV5moooo2+
      2zLRlMl870RQPQBhMs43MqPCOH18bAI3t7n9/Lii78PHfctCwz9ayE4uGkOwpyOz
      uRzytT3U5w61aG2I9LcofDwNhkCbKWMoeGD092KmSbxjBe7y75A2EUGJDatVX/Ql
      JmcAweyqAHXXVCLG5ysCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAWfZmY9rWDrro
      d1+n6pa08qvRuqQZgVAN3q9nsuDy/qsjJ9A5X5YRYjw6aIUEUC8G8ftbM+NNGlYA
      R//NmRZBjWdue/an9yQNix+TP2o/n6v2MaszAOuglXGeq0b5ksK+xy01AqbCr/V/
      gQ19YOk25rlRumBPu1tHPS6/IrwBjoJp//kKHmXRNQpp/DS3pwZ3uRER5ElHwQne
      rMmmfI2/QrPSQwEXUOCLgr+4lbxpLPDpLQ1D0UBcce60dm1pp8pkFIDlwhawqnru
      8/1I6zSJjL6Okkl4AAHmZmB0HuUfoafBE4WztYDd3yTcGf/dkXyCON1rqCQvlRW+
      A2rOBS25ag==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAuey4LfKdg5I17OLEVNumNc6FWNfQVLbu/hUnu/aYXBrIbU3k
      8HJxiGt2/H9hPZM22ILwg9DlRAQ+kbY1Sbj7g4Si/y5zN+UCbPBKfbjNwU93Ay9K
      lZoX0k4b5zSGwQt/A1kBG9CTKiZYt3Grm2KK0kYIvqBUb22RcpKCL9KAI3SmD54E
      IEsi0PNvx5Xmaiiijb7bMtGUyXzvRFA9AGEyzjcyo8I4fXxsAje3uf38uKLvw8d9
      y0LDP1rITi4aQ7CnI7O5HPK1PdTnDrVobYj0tyh8PA2GQJspYyh4YPT3YqZJvGMF
      7vLvkDYRQYkNq1Vf9CUmZwDB7KoAdddUIsbnKwIDAQABAoIBAC1tjo8DgcMdHXn0
      6n3FcXYiMOjFSoz4aarBZoUBurZ+gMxcRP0PKXhosZj+Urcl2jfKvpOmne4hj1wx
      BhIuVZ4L8XuiUNquZQpTKBBR8Ew0a2Lm0jV9giaLmTvD1M0kTvN1ctTmAJ9C4Vhp
      OMHtsPexzv8s05SqU+iHrbGboF2I/pCgnYWjE6IuImuzM52ReKZFWSbaPI/ofueT
      ST1ql5xXxLKrm4dVLEOFoH/xV5/9AdLAxQDsxvyeF3Q5DzKaJjhevCwL/m7/3rZ2
      R9E6XJKB26vSHqcYcfLd4hrN+5c+xAN8fwOwtXIxoLbVUcuec0Zcd+Omyu9NSXw7
      W2wnFPkCgYEA9awTrHYRlURLXog39/tfGJvsoXdURKOvW6jfqWe/0bWaLXTb/YcY
      vfvjABrd2uJI0Q26j/ZcCbCHGjiR7zDqVgyz3FJdOBMhxZe1gMF96ejXwKlpPLtl
      DbzmnuKXURp+jM66MmiRNrUzLUXR2fbnUZb+XMiZtTOqZk+OHccQ4z8CgYEAwb2j
      61U6caHLiG7vLy8PyEQfUvkAVgM44mfxSnn0OTm/lWEHm6cha4olRHlZycqjsfio
      raonzzKxRlsMpWlOi3+B3DQML09mq2ElPwRWJwJUiOYtXkSfTUSkqm7PHnfzYFwK
      qKUQsp9EQ05yp9Xe7RT5aZU3EDTQdbkMnHFx/RUCgYEAhdnygiV2IQirs96t99uq
      jWLvA25bqGYyddNFwSv41A6I6TlhXvnLXj+uB3Gb7NUbbWN4gVVuAg1/Hqcxw8u3
      8ZhMKr9pcNLjtJ+a0YMa0mX9n0fuQZusTFbepDS60wKHbrp3sl1MuSzyrDj9RC+F
      CuwkvHLDZHm43rN7r/e02MsCgYA12ag+OSpNe1M/UNZanxIb8BNk1KErRyoAhDOl
      J9CiN1LxCk87DHFVmshRCAnU9OYbCaqY2rrF9KkhjR0uvN6AF6jYs/7PB5rZ996K
      bYIkxZkJlDD4Csrchz/dv38CUQTsu6iax4akn3Ax5RQpYmDcNQA+QKNVddibYBwJ
      P98XIQKBgQDaAURyMrEPm0iclRe7Uul4rCNBntXn/R7meEPAvs0NqlkO0aDJ0m8f
      30K2xi0mCHnAsIrWJ0e+8OaVfRBq4zHK2F4ajzPbjRbHuYCQmsiGXycZnqp4T3kB
      6oGecvbeJK8JjAY/PilHjl2W45muGJWk5HzyaWKTcgiuHbxdg3/ufw==
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart